<script>
  var cb = function () {
    var l = document.createElement("link");
    l.rel = "stylesheet";
    l.href = "/assets/css/style.css";
    var h = document.getElementsByTagName("head")[0];
    h.parentNode.insertBefore(l, h);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf)
    raf(cb);
   else
    window.addEventListener("load", cb);
</script>

<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700&display=swap" rel="stylesheet">
