.dark,
.dark *{
	$dark_text_color: #f6f6f6;
	$dark_link_color: #4da3ff;
	background-color: #171717;
	color: $dark_text_color;
	border-color: #e6e6e6;
	
	.icon-calendar:before { color: $dark_text_color } /* '' */
	.icon-github-circled:before { color: $dark_text_color } /* '' */
	.icon-twitter-squared:before { color: $dark_text_color } /* '' */
	.icon-linkedin-squared:before { color: $dark_text_color } /* '' */

	#posts-label {
		color: $dark_text_color;
		border-bottom: 1px solid #272727;
	}

	@import 'ext/solarized-dark';
	.highlight, .highlight * 
	{
		background-color: #002b36; color: #93a1a1 
	}

	div.highlight-dark {
		padding: 5px 20px;
	}
	pre.highlight-dark, code {
		font-family: 'Consolas', Menlo, monospace;
		line-height: 1.4em;
		tab-size: 4;
	}

	.post-categories {
		li {
			background-color: #333;
			color: #fff;
		}
	}

	a {
		color: $dark_link_color;
	}

}
