<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
				<a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
			</ul>
			<p>&copy; 2019</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
