<!DOCTYPE html>
<html lang="en">

<head>
  {%- include head.html -%}
</head>

<body>
  <main class="container">
    <section class="about">
      <a href="/"><img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
      <h2 id="title">
        <a href="/">{{ site.plainwhite.name }}</a>
      </h2>
      <p class="tagline">{{ site.plainwhite.tagline }}</p>
      <ul class="social">
        {%- if site.plainwhite.social_links.github -%}
        <a href="https://github.com/{{ site.plainwhite.social_links.github }}" target="_blank">
          <li>
            <i class="icon-github-circled"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.linkedIn -%}
        <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}" target="_blank">
          <li>
            <i class="icon-linkedin-squared"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.twitter -%}
        <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}" target="_blank">
          <li>
            <i class="icon-twitter-squared"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.instagram -%}
        <a href="https://instagram.com/{{ site.plainwhite.social_links.instagram }}" target="_blank">
          <li>
            <i class="icon-instagram"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.facebook -%}
        <a href="https://facebook.com/{{ site.plainwhite.social_links.facebook }}" target="_blank">
          <li>
            <i class="icon-facebook"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.youtube -%}
        <a href="https://youtube.com/{{ site.plainwhite.social_links.youtube }}" target="_blank">
          <li>
            <i class="icon-youtube"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.pinterest -%}
        <a href="https://pinterest.com/{{ site.plainwhite.social_links.pinterest }}" target="_blank">
          <li>
            <i class="icon-pinterest"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.dribbble -%}
        <a href="https://dribbble.com/{{ site.plainwhite.social_links.dribbble }}" target="_blank">
          <li>
            <i class="icon-dribbble"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.flickr -%}
        <a href="https://flickr.com/{{ site.plainwhite.social_links.flickr }}" target="_blank">
          <li>
            <i class="icon-flickr"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.telegram -%}
        <a href=" https://t.me/{{ site.plainwhite.social_links.telegram }}" target="_blank">
          <li>
            <i class="icon-telegram"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.soundcloud -%}
        <a href=" https://soundcloud.com/{{ site.plainwhite.social_links.soundcloud }}" target="_blank">
          <li>
            <i class="icon-soundcloud"></i>
          </li>
        </a>
        {%- endif -%}
      </ul>
      {%- if site.plainwhite.navigation -%}
      <nav class="navigation">
        <ul>
          {% for link in site.plainwhite.navigation %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {%- endif -%}
      <p>&copy;
        {{ "now" | date: "%Y" }}</p>
      {%- if site.plainwhite.dark_mode -%}
      <div>
        <p>Dark Mode
          <i class="icon-moon"></i>
          <label class="switch">
            <input type="checkbox" id="dark-mode-toggle">
            <span class="slider round" onclick="toggleDarkMode()"></span>
          </label>
        </p>
      </div>
      <script type="text/javascript" src="/assets/js/darkmode.js"></script>
      {%- endif -%}
    </section>
    <section class="content">
      {{ content }}
    </section>
  </main>
  {%- if site.plainwhite.analytics_id -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.plainwhite.analytics_id }}');
  </script>
  {%- endif -%}

  {% if site.plainwhite.search %}
  <script src="/assets/js/simple-jekyll-search.min.js"></script>
  <script src="/assets/js/search.js"></script>
  {% endif %}
</body>

</html>
